# Build folders
bin/
obj/

# NuGet packages
packages/

# Rider / JetBrains
.idea/
*.sln.iml
*.iml
riderModule.iml

# ReSharper cache
_ReSharper.Caches/
*.DotSettings.user

# User-specific files
*.user
*.suo

# Logs
*.log